Repository Hiratake/aws-mfa: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yaml:

# https://lefthook.dev/configuration/

# pre-push
pre-push:
  commands:
    typecheck:
      run: pnpm typecheck

# pre-commit
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,cjs,mjs,ts,cts,mts}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{js,cjs,mjs,ts,cts,mts,json,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true

# commit-msg
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: コマンドの土台を作成
  package.json
  pnpm-lock.yaml
  src/cli.ts
Due: eslint, prettier

feat: mfa認証の処理を追加
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/mfa.ts
  src/types/index.ts
  src/utils/index.ts
Due: eslint, prettier

build: ビルドの設定を追加
  build.config.mts
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: eslint, prettier

chore: github用のファイルを追加
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/dependabot.yaml
  .github/renovate.json
Due: prettier

ci: workflowを追加
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/semantic-pr.yaml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: pnpmのバージョンを設定
  package.json
Due: prettier

Notes added by 'git notes add'
  63a829ba3d392dbf799895dc59cf3e44f72dcf6f
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

chore: パッケージをパブリックとして設定
  package.json
Due: prettier

Notes added by 'git notes add'
  284f1a40e6b049759f6672f58d3c611b84022419
Due: none

chore: ライセンスを追加
  LICENSE
Due: none

docs: readmeを追加
  README.md
  package.json
Due: prettier

chore: vscodeのブランチ保護設定を追加
  .vscode/settings.json
Due: prettier

fix: mfaのプロファイルを一覧から除外するよう変更
  src/mfa.ts
Due: eslint, prettier

fix: mfaのプロファイルを一覧から除外するよう変更 (#9)
  src/mfa.ts
Due: eslint, prettier

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  e0b2209d6cc2abd4ddcd929587fabc570c1c8889
Due: none

chore: autofixでlockファイルが変更されないよう変更
  .prettierignore
  pnpm-lock.yaml
Due: prettier

chore: autofixでlockファイルが変更されないよう変更 (#12)
  .prettierignore
  pnpm-lock.yaml
Due: prettier

feat: 入力項目をオプションで渡せるように機能を追加
  src/cli.ts
  src/mfa.ts
  src/types/index.ts
Due: eslint, prettier

feat: 入力項目をオプションで渡せるように機能を追加 (#14)
  src/cli.ts
  src/mfa.ts
  src/types/index.ts
Due: eslint, prettier

fix: 説明文がデフォルト値に指定されている問題を修正
  src/cli.ts
Due: eslint, prettier

fix: 説明文がデフォルト値に指定されている問題を修正 (#16)
  src/cli.ts
Due: eslint, prettier

feat: メッセージを出力しないモードを追加
  build.config.mts
  src/cli.ts
  src/types/index.ts
Due: eslint, prettier

feat: メッセージを出力しないモードを追加 (#17)
  build.config.mts
  src/cli.ts
  src/types/index.ts
Due: eslint, prettier

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  278ee76f8da9fdb39492887f974a0902d75f25bc
Due: none

docs: readmeのバッジを修正
  README.md
Due: none

docs: readmeのバッジを修正 (#22)
  README.md
Due: none

Notes added by 'git notes add'
  b9a2605f0aca69c06fd894c747b0771b74bd34a2
Due: none

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  7fd1f533e98f6808afa7a435cf5e7e2887dda453
Due: none

fix: npmjsに認証バッジを追加する
  .github/workflows/release.yaml
Due: prettier

Notes added by 'git notes add'
  33721da4a02ec34602bd5dc1a8cd4bf7f35933b2
Due: none

fix: npmjsに認証バッジを追加する
  .github/workflows/release.yaml
  package.json
Due: prettier

fix: npmjsに認証バッジを追加する (#54)
  .github/workflows/release.yaml
  package.json
Due: prettier

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
Due: none
